header {
   margin: 0%;
   height: 100px; 
   display: flex;
   background-color: white;
   } 
#testo {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: center;
     } 
#imgmodf {
    padding: 15px;
    vertical-align: middle;
} 
main {
    padding: 3%;
    border-left: 150px;
    border-right: 150px;
    border-top: 75px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
    } 
    body {
        margin: 0%;
        height: 100%;
    }

