header {
   margin: 0%;
   height: 60px; 
   display: flex;
   background-color: white;
   padding: 15px;
   } 
#testo {
    height: 80px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: center;
    

     } 
#imgmodf {
    height: 80px;
    vertical-align: middle;
    } 
main {
    padding: 1% 3%;
    border-left: 250px;
    border-right: 250px;
    border-top: 75px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
    } 
    body {
        margin: 0%;
        height: 100%;
    }
.evident {
    background-color: rgb(0, 156, 228);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
    #evidentviolet {
    background-color: rgb(152, 6, 219);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
    #evidentgreen {
    background-color: rgb(43, 172, 107);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
    #evidentorange {
    background-color: rgb(243, 164, 46);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
     #evidentsenape {
    background-color: rgb(187, 201, 69);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
    #evidentrose {
    background-color: rgb(207, 58, 127);
    background-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 6px;
    vertical-align: middle;
    font-size: 10px;
    }
 
    p {
      font-family: Arial, Helvetica, sans-serif;  
      font-size: large;
    }
    #bottonazure {
        background-color: rgb(0, 156, 228);
        color: white;
        border-radius: 5px;
        border-color: rgb(0, 156, 228);
        height: 25px;
    }
    #bottonwhite {
        background-color: rgb(255, 255, 255);
        color: rgb(214, 214, 214);
        border-radius: 5px;
        border-color: rgb(196, 196, 196);
        height: 25px;
       
    }
    .checkgreen {
        color: rgb(134, 204, 29);
    }
    .crossred {
        color: rgb(255, 0, 0);
    }

    .fontstrong {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: rgb(10, 20, 73);
    }
    


